body {
	background-color: rgb(227, 227, 227);
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: 750px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 5px solid black;
	border-radius: 25px;
	box-shadow: 6px 7px 10px rgb(168, 168, 168);
	background-color: whitesmoke;
}

header {
	width: 100%;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	margin: 25px auto;
	text-shadow: 4px 3px 6px rgb(120, 120, 120);
}

.scoreboard {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.scoreboard h2 {
	margin: 5px auto;
}

table {
	border-collapse: collapse;
	margin-bottom: 20px;
}

table th {
	background-color: #c9ebff;
	font-weight: bold;
}

table tr:nth-child(odd) {
	background-color: #eef9ff;
}

table,
tr,
td,
th {
	text-align: center;
	border: 1px solid black;
}

form {
	display: flex;
	flex-direction: column;
}

.alert {
	padding: 10px;
	background-color: #f44336;
	color: white;
	margin: 5px;
}

.closebtn {
	margin-left: 10px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover {
	color: black;
}

input {
	width: 100%;
}

.timer {
	display: flex;
	align-items: center;
}

.timer-countup {
	margin: 15px;
	font-size: 20px;
}

.timer button {
	width: 55px;
	height: 25px;
	text-align: center;
	margin: 3px;
}

.game-box {
	width: 600px;
	height: 600px;
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(9, 1fr);
}

.square {
	display: flex;
	width: 100%;
	height: 100%;
	border: 1px solid black;
	font-size: 30px;
	justify-content: center;
	align-items: center;
}

.odd-box {
	background-color: rgb(233, 255, 255);
}

.even-box {
	background-color: rgb(240, 240, 240);
}

.active {
	color: blue;
	font-weight: bold;
}

.active:hover,
.active.hover {
	background-color: lightgoldenrodyellow;
	transform: scale(1.15);
	border: 2px solid black;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.215);
}

.passed {
	background-color: rgb(226, 250, 226);
	color: rgb(48, 79, 48);
}

.text-box {
	width: 70%;
	height: 100px;
	display: none;
	justify-content: center;
	align-items: center;
}

.message-box {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.message-box span {
	margin: 4px 20px;
	color: red;
	font-size: 30px;
	padding: 0px 75px;
	border: 1px solid rgb(161, 161, 161);
}

.moves-box {
	display: none;
	flex-direction: column;
	width: 90%;
}

.number-box,
.action-box {
	display: flex;
	width: 80%;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin: 0px auto;
}

.action-box {
	margin-top: 20px;
}

.moves-box button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 50px;
	font-size: 20px;
	font-weight: bold;
	margin: 10px;
	padding: 5px;
	border: 2px solid rgb(161, 161, 161);
	border-radius: 10px;
	background-color: white;
}

.action-box button {
	width: 200px;
	height: 30px;
}
/* 
.number-selector.selected {
	background-color: lightgoldenrodyellow;
	color: black;
	border: 5px inset rgb(169, 169, 169);
}

.number-selector:hover {
	background-color: lightgoldenrodyellow;
	color: black;
	border: 4px outset rgb(169, 169, 169);
}

.number-selector:focus {
	background-color: lightgoldenrodyellow;
	color: black;
	border: 5px inset rgb(169, 169, 169);
} */

.num-select {
	background-color: white;
	width: 60px;
	height: 60px;
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
	font-size: 30px;
	font-weight: bold;
	border: 2px solid black;
	border-radius: 6px;
	margin: 10px 20px;
}

.num-select:hover {
	background-color: lightgoldenrodyellow;
	box-shadow: 3px 4px 7px rgb(173, 173, 173);
	transform: scale(1.25);
}

.action-box button:focus {
	background-color: rgb(203, 243, 255);
	color: black;
	border: 3px inset rgb(137, 137, 137);
}

.action-box .selected {
	background-color: rgb(203, 243, 255);
	color: black;
	border: 3px inset rgb(169, 169, 169);
}

.button-box {
	width: 80%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 35px;
}

.button-box button {
	width: 130px;
	padding: 5px;
	font-size: 15px;
	border-radius: 15px;
	font-weight: bold;
}

.new-game-btn {
	background-color: rgb(194, 232, 255);
}

.submit-btn {
	background-color: rgb(193, 251, 193);
}

.reset-btn {
	background-color: rgb(249, 194, 194);
}
